@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue", Meiryo, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Arial, sans-serif;
}
section {
  display: block;
  padding-top: 90px;
  margin-top: -90px;
  margin-bottom: 48px;
}
.bgColor {
  background-color: #010409;
}
